{% extends "base.html" %}

{% load i18n %}

{% block extrajs %}
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  <script>
    $(window).load(function() {
    $("div.image").mouseover(function()
      {
        $(this).find(".action").css("display", "block");
      }
    );
    $("div.image").mouseout(function()
      {
        $(this).find(".action").css("display", "none");
      }
    );
    });
  </script>
{% endblock %}
{% block content %}
  <h1 id="title">
    {% trans "View category" %}
    {% if user.is_authenticated %}
      <a href="/gallery/category/add/">{% trans "Add new category" %}</a>
    {% endif %}
  </h1>
  {% include "categories_sidebar.html" %}
  <div id="category" class="content">
    <h2>
      {% trans "Category" %} {{ cat.name }}
      {% if user.is_authenticated %}
        <a href="/gallery/category/delete/{{ cat.id }}" id="delete">{% trans "Delete" %}</a>
        <a href="/gallery/category/edit/{{ cat.id }}" id="edit">{% trans "Edit" %}</a>
      {% endif %}
    </h2>
    <section id="subcategories">
      <h3>{% trans "Subcategories" %}</h3>
      {% for subcat in subcategories %}
        <a href="/gallery/category/view/{{ subcat.id }}/">&raquo;&nbsp;&nbsp;{{ subcat.name }}</a>
      {% endfor %}
      {% if not subcategories %}
        {% trans "There are no subcategories added to this category" %}
      {% endif %}
    </section>
    <section id="pictures">
      <h3>{% trans "Pictures" %}</h3>
      {% for picture in pictures %}
        <div class="image">
          {% if user.is_authenticated and user.id == picture.owner.id %} 
            <a href="/gallery/picture/edit/{{ picture.id }}"><img src="{{ STATIC_URL }}image/edit.png" class="action edit_button" /></a>
            <a href="/gallery/picture/delete/{{ picture.id }}"><img src="{{ STATIC_URL }}image/delete.png" class="action delete_button" /></a>
          {% endif %}
          <a href="{{ picture.pic.url }}">
            <img src="{{ picture.pic.url_149x149 }}" alt="{{ picture.description }}" />
          </a>
          <span>{{ picture.name|slice:":14"}}{% if category.name|length > 14 %}&nbsp;&hellip;{% endif %}</span>
        </div>
      {% endfor %}
      {% if not pictures %}
        {% trans "There are no images added to this category" %}
      {% endif %}
    </section>
  </div>
{% endblock content %}
