{% extends "base.html" %}

{% load i18n %}
{% block extracss %}
  <style type="text/css">
    div.pagination {
        clear: both;
        margin: 10px auto;
    }

    span.step-links {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    span.step-links a:hover{
        text-decoration: underline;
    }
  </style>
{% endblock extracss %}
{% block extrajs %}
  <script>
    $(window).load(function() {
    $("div.image").mouseover(function()
      {
        $(this).find(".action").css("display", "block");
      }
    );
    $("div.image").mouseout(function()
      {
        $(this).find(".action").css("display", "none");
      }
    );
    $('a.lightbox').lightBox();
    });
  </script>
{% endblock %}
{% block content %}
  <h1 id="title">
    {% trans "View pictures" %}
    {% if user.is_authenticated %}
      <a href="/gallery/picture/upload/">{% trans "Upload picture" %}</a>
    {% endif %}
  </h1>
  {% include "categories_sidebar.html" %}
  <div class="content">
  <section id="pictures">
    {% for picture in pictures.object_list %}
      <div class="image">
        {% if user.is_authenticated and user.id == picture.owner.id %} 
          <a href="/gallery/picture/edit/{{ picture.id }}"><img src="{{ STATIC_URL }}image/edit.png" class="action edit_button" /></a>
          <a href="/gallery/picture/delete/{{ picture.id }}"><img src="{{ STATIC_URL }}image/delete.png" class="action delete_button" /></a>
        {% endif %}
        <span class="pic_name" style="display:none;">{{ picture.name }}</span>
        <span class="pic_desc" style="display:none;">{{ picture.description }}</span>
        <span class="pic_owner" style="display:none;">{{ picture.owner }}</span>
        <a class="lightbox" href="{{ picture.pic.url }}">
          <img src="{{ picture.pic.url_149x149 }}" alt="{{ picture.description }}" />
        </a>
        <span>{{ picture.name|slice:":14"}}{% if category.name|length > 20 %}&nbsp;&hellip;{% endif %}</span>
      </div>
    {% endfor %}
  </section>
  <div class="pagination">
    <span class="step-links">
      {% if pictures.has_previous %}
        <a href="?page={{ picturess.previous_page_number }}">previous</a>
      {% endif %}
      
      <span class="current">
        Page {{ pictures.number }} of {{ pictures.paginator.num_pages }}.
      </span>
      
      {% if pictures.has_next %}
        <a href="?page={{ pictures.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
  </div>
{% endblock content %}
