{% extends "base.html" %}

{% load i18n %}
{% block extrajs %}
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  <script>
    $(window).load(function() {
    $("div.image").mouseover(function()
      {
        $(this).find(".action").css("display", "block");
      }
    );
    $("div.image").mouseout(function()
      {
        $(this).find(".action").css("display", "none");
      }
    );
    });
  </script>
{% endblock %}
{% block content %}
  <h1 id="title">
    {% trans "View pictures" %}
  </h1>
  {% include "categories_sidebar.html" %}
  <div class="content">
  <section id="pictures">
    {% for picture in pictures %}
      <div class="image"> 
        <a href="/gallery/picture/edit/{{ picture.id }}"><img src="{{ STATIC_URL }}image/edit.png" class="action edit_button" /></a>
        <a href="/gallery/picture/delete/{{ picture.id }}"><img src="{{ STATIC_URL }}image/delete.png" class="action delete_button" /></a>
        <a href="{{ picture.pic.url }}">
        <img src="{{ picture.pic.url_149x149 }}" alt="{{ picture.description }}" />
      </a>
        <span>{{ picture.name|slice:":14"}}{% if category.name|length > 14 %}&nbsp;&hellip;{% endif %}</span>
      </div>
    {% endfor %}
  </section>
  </div>
{% endblock content %}
