<!DOCTYPE html>

{% load i18n %}

<html>
<head>
  <meta charset="utf-8">
  <title>{{ title|default:"Willy" }}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
  {% block extracss %}{% endblock extracss %}
  {% block customcss %}{% endblock customcss%}
</head>
<body>
  <div class="toolbar">
    <div>
      {% if user.is_authenticated %}
        <a href="/session/welcome/">{% trans "Home" %}</a>
        <a href="/session/profile/edit/">{% trans "Edit profile" %}</a>
        <a href="/session/profile/edit/change_password/">{% trans "Change password" %}</a>
        <a href="/session/logout">{% trans "Log out" %}</a>
      {% else %}
        <a href="/session/login/">{% trans "Log in" %}</a>
        <a href="/session/register/">{% trans "Registration" %}</a>
      {% endif %}
    </div>
  </div>
  <div id="wrapper">
    <header>
      <h1><a href="/" id="willy">Willy</a></h1>
    </header>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>
</html>
