<!DOCTYPE html>

{% load i18n %}

<html>
<head>
  <meta charset="utf-8">
  <title>{{ title|default:"Willy" }}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  {% block extracss %}{% endblock extracss %}
  {% block extrajs %}{% endblock extrajs %}
  {% block customcss %}{% endblock customcss%}
</head>
<body>
  <div class="toolbar">
    {% if user.is_authenticated %}
      <div id="greeting"><span>{% trans "Hello" %},</span><a href="/session/profile/edit/">{{ user.username }}</a></div>
    {% endif %}
    <div>
      {% if user.is_authenticated %}
        <a href="/session/welcome/">{% trans "Home" %}</a>
        <a href="/session/profile/edit/">{% trans "Edit profile" %}</a>
        <a href="/session/profile/edit/change_password/">{% trans "Change password" %}</a>
        <a href="/session/logout">{% trans "Log out" %}</a>
      {% else %}
        <a href="/session/login/">{% trans "Log in" %}</a>
        <a href="/session/register/">{% trans "Registration" %}</a>
      {% endif %}
    </div>
  </div>
  <div id="wrapper">
    <header>
      <h1>
        {% if user.is_authenticated %}
          <a href="/session/welcome" id="willy">Willy</a>
        {% else %}
          <a href="/" id="willy">Willy</a>
        {% endif %}
      </h1>
      <nav>
        <a href="/gallery/categories/">{% trans "View categories" %}</a>
        <a href="/gallery/pictures/">{% trans "View pictures" %}</a>
        {% if user.is_authenticated %}
          <a href="/gallery/categories/edit/">{% trans "Edit my categories" %}</a>
          <a href="/gallery/pictures/edit/">{% trans "Edit my pictures" %}</a>
        {% endif %}
      </nav>
    </header>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>
</html>
