{% extends "base.html" %}

{% load i18n %}
{% block content %}
<h1 id="title">
  {% trans "Web project Photoalbum" %}
</h1>

<h3 class="bold_section">Описание на задачата:</h3>
<p>Да се проектира и реализира система за управление на снимки.</p>
<p>Системата трябва поддържа работа с множество потребители, за които се поддържа набор от снимки, разделени в отделни категории.<p>
<span class="blank"></span>
<p>Управление на потребителите и техните профили:</p>
<p>За всеки потребител се пази профил, който съдържа следната информация:<p>
<ul class="decorated">
  <li>Потребителско име</li>
  <li>Парола</li>
  <li>Име и фамилия</li>
  <li>E-Mail</li>
</ul>
<p>Всеки потребител може да редактира своя профил - позволена е редакция на всички данни за потребителя с изключение на потребителското име.</p>
<span class="blank"></span>
<p>Управление на категориите:</p>
<p>При регистрация на потребител автоматично се създава нова категория с неговото име.</p>
<p>Всяка категория може да съдържа снимки и/или други категории.</p>
<p>Да се предостави възможност за преглед на всички снимки от дадена категория в умален вид.</p>
<p>Позволени са следните действия с категории:</p>
<ul class="decorated">
  <li>Добавяне на категория</li>
  <li>Изтриване на категория - при изтриване на категория се изтрива цялото и съдържание</li>
  <li>Преименуване на категория</li>
</ul>
<span class="blank"></span>
<p>Управление на снимките:</p>
<p>За всяка снимка се пази име, описание и дата (дата на добавяне на снимката в системата).</p>
<p>Позволени са следните действия със снимки:</p>
<ul class="decorated">
  <li>Добавяне на една снимка</li>
  <li>Изтриване на снимка</li>
  <li>Промяна на информацията за дадена снимка (име и описание)</li>
  <li>Преглед на снимки
    <ul>
      <li>Да се предостави възможност за разглеждане на една снимка и цялата 	информация за нея</li>
      <li>Да се предостави възможност за преглед на цяла категория от снимки и всяка 	снимка в категорията да се покаже в умален вид</li>
    </ul>
  </li>
</ul>
<h3 class="bold_section">Описание на решението:</h3>
<p>За реализиране на задачата са използвани следните технологии:</p>
<ul class="decorated">
  <li>Език за програмиране Python</li>
  <li>Фреймуърк Django</li>
  <li>База от данни MySQL</li>
  <li>Описателен език HTML5</li>
  <li>Каскадни стилове (CSS)</li>
  <li>Система за контрол на версиите Git</li>
</ul>
<span class="blank"></span>
<p>Описание на архитектурата:</p>
<p>За управление на потребителите отговаря приложението session. То е изградено по концепцията MVC (Model-View-Controller).</p>
<p> В Django контролерите се наричат изгледи (Views), а изгледите се наричат шаблони (Templates).</p>
<p>Моделът за потребителите се базира на модула django.contrib.auth.
Във файла views.py е описана логиката на контролера за потребителите (регистрация, вход в системата, редактиране на профила). В папката templates са описани файловете, отговарящи за изобразяването на потребителския интерфейс в браузъра – те представляват смесица от html код и езика за шаблони наDjango.</p>
<p>За управлението на снимките и техните категории отговаря приложението gallery. То също следва логиката на MVC. Моделът за снимките и категориите е описан във файла models.py.
Отново във файла views.py е описана логиката на контролера за снимките и техните категории (преглед, редактиране и изтриване на снимки, преглед, редактиране и изтриване на категории, добавяне на категории, качване на снимки). В папката templates са описани файловете, отговарящи за изобразяването на снимките, тяхното описание и категории в браузъра. Те отново представляват смес от html код и език за шаблони наDjango.</p>
<p>Във файловете base.html и base.css е описан изгледът на тези компоненти, които се изобразяват във всички html страници на приложението (навигацията на сайта, основното меню, логото).
Другите html файлове използват вече описаните компоненти, за да се избегне дублирането на един и същи код няколко пъти.</p>
<p>В папката media се пазят файловите изображения.</p>
<p>В папката static е разположен базовият CSS и javascript код.</p>
<p>Кодът на проекта е достъпен в интернет на адрес <a href="https://github.com/psstoev/willy" target="_blank" class="decoration">https://github.com/psstoev/willy</a></p>
<h3 class="bold_section">Описание на базата от данни:</h3>
<p>Тъй като ползваме за потребителите модула на Django :  django.contrib.auth в базата от данни имаме само две таблици – една за снимките и една за техните категории.</p>
<p>Таблицата за категориите има следните полета:</p>
<ul class="decorated">
  <li>id – уникален целочислен идентификатор за всяка категория</li>
  <li>name – име на категорията (низ)</li>
  <li>category_parent – запис от таблицата gallery_category (родителската категория на 	дадената категория, ако има такава)</li>
  <li>owner – запис от тип потребител (собственикът на категорията)</li>
</ul>
<span class="blank"></span>
<p>Таблицата за снимките има следните полета:</p>
<ul class="decorated">
  <li>id – уникален целочислен идентификатор за всяка снимка</li>
  <li>name – име на снимката (низ)</li>
  <li>description – описание на снимката (низ)</li>
  <li>uploaded – дата на добавяне на снимката в системата</li>
  <li>owner – запис от  тип потребител (собственикът на снимката)</li>
  <li>category – категория/ категории на снимката</li>
  <li>pic – път към снимката във файловата система</li>
</ul>
<span class="blank"></span>
<p>Таблицата  gallery_category има връзка към самата себе си, т.к полето category_parent е от тип запис от самата таблица. Освен това има връзка към потребителите, т.к записът в полето owner трябва да бъде съществуващ потребител.</p>
<p>Таблицата gallery_picture има връзка към таблицата с категориите, т.к в полето category трябва да сочи към съществуващи категории.  Тя също има връзка към потребителите, чрез полето owner.</p>
<p>Тъй като връзката между полето category и записите от таблицата gallery_category е от тип many-to-many се налага нуждата от трета таблица - gallery_picture_category, която има полета:</p>
<ul class="decorated">
  <li>id</li>
  <li>picture_id</li>
  <li>category_id</li>
</ul>
<p>Тази таблица указва връзките на снимките с категориите – ако например една картинка попада в  две категории, то в таблицата ще има два записа с един и същи идентификатор на снимката и различни идентификатори на категориите.</p>
<h3 class="bold_section">Описание на интерфейса:</h3>
<p>Интерфейсът на приложението е изключително опростен и интуитивен.</p>
<p>В приложението е заложена многоезичност, с готова функционалност на Django.</p>
<p>Началната страница има две менюта – в един панел най-отгоре е изнесена функционалността, свързана с отделните потребители.</p>
<p>Под него има меню, което направлява потребителя при разглеждането на снимките и техните категории.</p>
<p>Когато потребителят не е влязъл в системата – той има право да разглежда категории и снимки, но няма право да ги редактира или да добавя нови такива.</p>
<p>Чрез панела най-отгоре му се позволява да се регистрира или да влезе в системата, ако преди това вече се е регистрирал.</p>
<p>При успешно влизане в системата менюто отгоре леко се променя, за да позволи на потребителя да управлява профила си (да промени данните и паролата си или да излезе от системата).
Освен това му се позволява да си добавя нови категории и снимки и да ги редактира и изтрива.</p>
<p>Всеки потребител има право да редактира и изтрива само категориите и снимките на които той е собственик – другите му е позволено само да разглежда.</p>
<h3 class="bold_section">Инсталиране, конфигурация и настройки:</h3>
<p>1. За да се пусне проектът е необходимо да се инсталира python2.6/ python2.7 – повече подробности на сайта</p>
<p><a href="http://www.python.org/download/" target="_blank" class="decoration">http://www.python.org/download/</a></p>
<p>2. Необходима е и инсталация на фреймуърка Django – повече подробности на сайта</p>
<p><a href="https://docs.djangoproject.com/en/dev/intro/install/" target="_blank" class="decoration">https://docs.djangoproject.com/en/dev/intro/install/</a></p>
<p>3. Трябва да е инсталиран MySQL сървър и да е създадена база от данни на ръка – повече подробности на сайта</p>
<p><a href="http://dev.mysql.com/doc/refman/5.1/en/installing.html" target="_blank" class="decoration">http://dev.mysql.com/doc/refman/5.1/en/installing.html</a></p>
<p>След като се попълнят параметрите на базата във файла settings.py се синхронизира базата от данни чрез командата python manage.py syncdb (за GNU/Linux дистибуции)</p>
<p>4. Django поддържа вграден сървър за разработчици. Той се стартира с командата  python manage.py runserver (за GNU/Linux дистибуции)
Този сървър е предназначен за използване само докато приложението се разработва.</p>
<p>За използване в реална среда е необходимо да се инсталира и настрои външен сървър (например Apache с модул wsgi– повече подробности на адреси</p>
<p><a href="http://httpd.apache.org/docs/2.2/install.html" target="_blank" class="decoration">http://httpd.apache.org/docs/2.2/install.html</a> и</p>
<p><a href="https://docs.djangoproject.com/en/dev/howto/deployment/wsgi/" target="_blank" class="decoration">https://docs.djangoproject.com/en/dev/howto/deployment/wsgi/</a>)</p>
<p>5. Предполага се, че всеки има инсталиран уеб браузър. :)</p>
<span class="blank"></span>
<p>Ако проектът се тества локално с помощта на вградения сървър в Django под GNU/Linux дистибуция – след изпълнение на командата  python manage.py runserver приложението ще бъде видимо през уеб браузъра на адрес</p>
<p><a href="http://127.0.0.1:8000/" target="_blank" class="decoration">http://127.0.0.1:8000/</a></p>
{% endblock content %}
