/*RESETS*/
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img {
    border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}
ol, ul, li {
    list-style:none;
}
caption, th {
    text-align:left;
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:bold;
}
strong {
    font-weight:bold;
}
a img {
    border:none;
}
.clearfix {
    clear: both;
}
/* END RESETS */

body {
    min-width: 960px;
}

.toolbar {
    overflow: hidden;
    background-color: #6b8e23;
    height: 35px;
}

#greeting {
    float: left;
    width: auto;
}

#greeting span {
    float: left;
    margin-top: 6px;
    margin-right: 4px;
    margin-left: 15px;
    color: #ee0;
}

#greeting a {
    text-transform: none;
    font-size: 1em;
    font-weight: normal;
    margin-top: 6px;
}

.toolbar div {
    width: auto;
    height: 100%;
    float: right;
}

.toolbar div a {
    position: relative;
    float: left;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 15px;
    text-decoration: none;
    color: #ee0;
}

.toolbar div a:hover {
    color: #fff;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    overflow: hidden;
}

header h1 {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 4em;
    font-family: 'Palatino linotype', 'Book Antiqua', Palatino, serif;
    float: left;
}

header a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000
}

nav {
    float: right;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 35px;
    text-decoration: none;
    color: #ee0;
}

nav a {
    margin-left: 10px;
}
