/*RESETS*/
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img {
    border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}
ol, ul, li {
    list-style:none;
}
caption, th {
    text-align:left;
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:bold;
}
strong {
    font-weight:bold;
}
a img {
    border:none;
}
.clearfix {
    clear: both;
}
/* END RESETS */

body {
    min-width: 960px;
}

a {
    text-decoration: none;
    color: #000000;
}

.toolbar {
    overflow: hidden;
    background-color: #6b8e23;
    height: 36px;
    padding-top: 4px;
    border-bottom: 1px solid #405414;
}

#greeting {
    float: left;
    width: auto;
}

#greeting span {
    float: left;
    margin-top: 6px;
    margin-right: 4px;
    margin-left: 15px;
    color: #eeee00;
}

#greeting a {
    text-transform: none;
    font-size: 1em;
    font-weight: normal;
    margin-top: 6px;
}

.toolbar div {
    width: auto;
    height: 100%;
    float: right;
}

.toolbar div a {
    position: relative;
    float: left;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 15px;
    color: #eeee00;
}

.toolbar div a:hover {
    color: #ffffff;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    overflow: hidden;
    display: block;
    /* border-bottom: 2px solid #000000; */
}

header h1 {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 4em;
    font-family: 'Palatino linotype', 'Book Antiqua', Palatino, serif;
    float: left;
}

header a, header a:visited, header a:hover, header a:active {
    color: #000000;
}

nav a:hover, nav a:active {
    padding-bottom: 3px;
    border-bottom: 2px solid #000000;
}

nav {
    float: right;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    color: #eeee00;
}

nav a {
    margin-left: 10px;
}

h1#title {
    width: 940px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #eeee00;
    background-color: #6b8e23;
    border-top: 1px solid #405414;
    border-bottom: 1px solid #405414;
}

section#categories {
    position: relative;
    float: left;
    display: block;
    width: 312px;
    background-color: #bbbb00;
}

section#categories h2 {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #6b8e23;
    color: #eeee00;
    border: 1px solid #405414;
}

section#categories div {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #6b8e23;
    border-right: 1px solid #6b8e23;
    border-bottom: 1px solid #6b8e23;
}

section#categories a {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    font-size: 14px;
    color: #000000;
}

section#categories a:hover, section#categories a:active, section#categories a.active {
   background-color: #eeee00;
}

section#categories a.active {
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #6b8e23;
    border-bottom: 1px solid #6b8e23;
}

table#categories_table tr.t_header {
    background-color: #6b8e23;
    height: 40px;
    border-top: 1px solid #405414;
    border-left: 1px solid #405414;
    border-bottom: 1px solid #405414;
}

table#categories_table tr.t_header th {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    color: #eeee00;
    text-align: center;
    border-right: 1px solid #405414;
}

table#categories_table tr td {
    padding: 3px 8px 3px 8px;
    text-align: center;
    border-left: 1px solid #6b8e23;
    border-right: 1px solid #6b8e23;
    border-bottom: 1px solid #6b8e23;
}

table#categories_table tr td a {
    display: block;
    color: black;
}

table#categories_table tr.even td a:hover, table#categories_table tr.even td a:active {
    color: #eeee00;
}

table#categories_table tr.odd td a:hover, table#categories_table tr.odd td a:active {
    color: #546d1d;
}

table#categories_table tr td.left {
    text-align: left;
}

table#categories_table tr.even {
    background-color: #bbbb00;
}

table#categories_table tr.odd {
    background-color: #d6e567;
}

.content {
    position: relative;
    float: left;
    width: 628px;
    margin-left: 20px;
}

div#category h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #eeee00;
    background-color: #6b8e23;
    border-top: 1px solid #405414;
    border-bottom: 1px solid #405414;
}

h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #6b8e23;
}

section#subcategories a {
    display: block;
    line-height: 1.5;
}

section#subcategories a:hover, section#subcategories a:active {
    color: #405414;
}

div.image {
    position: relative;
    float: left;
    width: 157px;
    background-color: #6b8e23;
    margin: 0px 23px 26px 23px;
    padding: 3px 3px 3px 3px;
}

div.image img {
    margin-top: 4px;
    margin-left: 4px;
}

div.image span {
    display: block;
    color: #eeee00;
    padding-bottom: 4px;
    margin-left: 4px;
}

.edit_button {
    position: absolute;
}

.delete_button {
    right: 0px;
    position: absolute;
}

.action {
    display: none;
}